version: '2'

volumes:
  node-red-data:
  influxdb-data:
  influxdb-etc:

services:
  balena-cam-mqtt:
    build: ./balena-cam-mqtt
    privileged: true
    restart: always
    #network_mode: "host"
    labels:
      io.balena.features.kernel-modules: '1'
  
  edge-impulse:
    build: ./ei
    privileged: true
    ports:
      - "1337:1337"

  mqtt:
    image: eclipse-mosquitto:1.6.15
    container_name: mqtt
    ports:
      - "1883:1883"
    restart: always

  node-red:
    image: bh.cr/balenalabs/balena-node-red-aarch64
    container_name: node-red
    privileged: true
    #network_mode: host
    restart: unless-stopped
    volumes:
        - 'node-red-data:/data'
    labels:
        io.balena.features.dbus: '1'
        io.balena.features.sysfs: '1'
        io.balena.features.supervisor-api: '1'
        io.balena.features.balena-api: '1'
    ports:
        - 80:80
    environment:
        PORT: 80
        USERNAME: "balena"
        PASSWORD: "balena"
        ENCRIPTION_KEY: "balena"
    cap_add:
        - SYS_RAWIO
    devices:
        - "/dev/mem:/dev/mem"
        - "/dev/gpiomem:/dev/gpiomem"
        - "/dev/i2c-1:/dev/i2c-1"

  influxdb:
    image: influxdb:1.7.11
    container_name: influxdb
    restart: unless-stopped
    volumes:
        - influxdb-data:/var/lib/influxdb
        - influxdb-etc:/etc/influxdb
